<%= render "form.html", Map.merge(assigns, %{action: Routes.topic_path(@conn, :update, @topic), title: "Edit Topic", secondary_to: Routes.topic_path(@conn, :show, @topic), secondary_title: "Back"}) %>
